@import "./src/styles/variables";
@import "./src/styles/reset";
@import "./src/styles/mixins";
@import "./src/styles/block/header";
@import "./src/styles/block/card";

* {
  box-sizing: border-box;
}

html {
  font-family: "Roboto", sans-serif;
  font-size: 12px;
}
